body{
    background-color:goldenrod;
}

.dark-background{
    background-color: #2f2f2f;
    color: #f2f2f2;
}

.navbar{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.navbarLogo{
    width:32px;
    height:32px;
}


h5.pageContent{
    background-color: #f8f9fa;
} 


.footerColumn{
    padding: 5px;
    padding-top:25px;
    width:75%;
    border-bottom: 1px solid #4f4f4f;
}

.footerColumn a{
    color:grey;
}

.social{
    padding-top:10px;
}
.social a{
    color:white;
    font-size: 24px;
}

.fa-twitter:hover{
    color:#1da1f2;
}
.fa-youtube:hover{
    color:#ff0000;
}
.fa-facebook-f:hover{
    color:#3b5998;
}
.fa-github:hover{
    color: black;
}

footer .container{
    max-width:80%;
} 


