/* For transit curve */
#wrapper{
   background-color: #10101e;
}

#animationContainer{
    background-color:#10101e;
    padding-top: 68px;
    /* to compensate for space occupied by navbar */
    padding-right:1vw;
    padding-left:1vw;
    font-size:0px;
    /* To remove the space between the side by side child canvas elements */
}

#mainCanvas,#chartCanvas{
    height: 50vh;
    width:50%;
    background: white;
    display:inline;
    border-radius: 2px 0px 0px 2px;
}
#chartCanvas{
    background: #9eadb5;
    border-radius: 0px 2px 2px 0px;
}



@media screen and (max-width:400px){
#animationContainer{
    padding-right:1vw;
    padding-left:1vw;
}
#mainCanvas{
    height: 40vh;
    width:100%;
    border-radius: 2px 2px 0px 0px;
}
#chartCanvas{
    height: 30vh;
    width:100%;
    border-radius: 0px 0px 2px 2px;
}
}
/*  */

#animationControls{
    padding-bottom:5px;
    padding-top:5px;
}

/* Full screen settings begin*/
/* Intro to exoplanets specific */
#animationContainer.fullscreen{
   padding: 0 0 0 0;
}
#mainCanvas.fullscreen{
    width: 100vw; 
    height: 100vh; 
    position: relative; 
    padding: 0px;
}
#animationControls.fullscreen{
    position:absolute;
    bottom:10px;
    left:10px;
}
/* End of full screen settings */