/* For transit curve */
#wrapper{
   background-color: #10101e;
}
#subtitlesContainer{
    width:100%;
    height:30px;
}
#subtitles{
    font-size:10px;
    color: #daa520;
}
#animationContainer{
    background-color:#10101e;
    padding-top: 68px;
    /* to compensate for space occupied by navbar */
    padding-right:1vw;
    padding-left:1vw;
    font-size:0px;
    /* To remove the space between the side by side child canvas elements */
}

#mainCanvas,#chartCanvas{
    height: 50vh;
    width:50%;
    background: white;
    display:inline;
    border-radius: 5px 0px 0px 5px;
}
#chartCanvas{
    background: #9eadb5;
    border-radius: 0px 5px 5px 0px;
}



@media screen and (max-width:667px){
#animationContainer{
    padding-right:1vw;
    padding-left:1vw;
}
#mainCanvas{
    height: 40vh;
    width:100%;
    border-radius: 5px 5px 0px 0px;
}
#chartCanvas{
    height: 30vh;
    width:100%;
    border-radius: 0px 0px 5px 5px;
}
}
/*  */

#animationControls{
    padding-bottom:5px;
    padding-top:5px;
}

/* Full screen settings begin*/
/* Intro to exoplanets specific */
#animationContainer.fullscreen{
   padding: 0 0 0 0;
}
#mainCanvas.fullscreen,#chartCanvas.fullscreen{
    width: 50vw; 
    height: calc(100vh - 40px); 
    position: relative; 
    padding: 0px;
}
#animationControls.fullscreen{
    position:absolute;
    bottom:10px;
    left:10px;
}
#subtitlesContainer.fullscreen{
    height:30px;
}
/* End of full screen settings */

/* Parameter Slider Controls */
.slider-label{
  padding-bottom: 2px;
}
#parameterControls{
    font-size: 14px;
    padding:10px;
    color:teal;
}

.noUi-horizontal {
    height: 8px;
}

.noUi-target {
    background: #FAFAFA;
    border-radius: 4px;
    border: 0;
    box-shadow: none;
}

.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    left: -17px;
    top: -7px;
    border-radius: 50%;
}
.noUi-handle:before, .noUi-handle:after{
    content: none;
}

