/* Intros to exoplanets */
#mainCanvas{
    border-radius: 1%;
    height: 45vw;
    width:80vw;
    padding: 1px;
    background: white;
}

#animationContainer{
    background:black;
    padding-top: 65px;
    /* to compensate for space occupied by navbar */
    padding-right:10vw;
    padding-left:10vw;
}

@media screen and (min-width:768px){
#animationContainer{
    background:black;
    padding-top: 65px;
    /* to compensate for space occupied by navbar */
    padding-right:18vw;
    padding-left:18vw;
}
#mainCanvas{
    height: 36vw;
    width:64vw;
}
}
/*  */

#animationControls{
    padding-bottom:5px;
    padding-top:5px;
}

/* Full screen settings begin*/
/* Intro to exoplanets specific */
#animationContainer.fullscreen{
   padding: 0 0 0 0;
}
#mainCanvas.fullscreen{
    width: 100vw; 
    height: 100vh; 
    position: relative; 
    padding: 0px;
}
#animationControls.fullscreen{
    position:absolute;
    bottom:10px;
    left:10px;
}
/* End of full screen settings */
