.card-title{
    text-align:center;
}
.cardDeck{
    padding:5px;
    background-color: white;
    width:100%;
    display:inline-flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-direction: row;
    -ms-flex-direction: row;
}
#mainCard{
    padding-top:65px;
}
.optionCards:hover{
    -webkit-box-shadow: 3px 5px 11px -4px rgba(0,0,0,0.55);
    -moz-box-shadow: 3px 5px 11px -4px rgba(0,0,0,0.55);
     box-shadow: 3px 5px 11px -4px rgba(0,0,0,0.55);
}
.optionCards{
    -webkit-box-shadow: 3px 5px 11px -8px rgba(0,0,0,0.55);
    -moz-box-shadow: 3px 5px 11px -8px rgba(0,0,0,0.55);
     box-shadow: 3px 5px 11px -8px rgba(0,0,0,0.55);
     height:100%;
     width:100%;
}
.optionCanvas{
    width:100%;
    height:100%;
}
.cardDeckWrapper{
    padding:0px;
    margin:auto;
    background-color: white;
}
#mainCanvas{
    border-radius: 1%;
    height: 50vw;
    width:100%;
    padding: 1px;
    background: darksalmon;
}

#questionContainer{
    background:green;
    padding-right:1vw;
    padding-left:1vw;
    padding-top:5px;
}
@media screen and (min-width:768px){
#questionContainer{
    background:green;
    /* to compensate for space occupied by navbar */
    padding-right:18vw;
    padding-left:18vw;
}
#mainCanvas{
    height: 28vw;
    width:100%;
}

}
/*  */

#animationControls{
    padding-bottom:5px;
    padding-top:5px;
}

#question{
    margin-bottom:0px;
}