.card-title{
    text-align:center;
}
.card-deck{
    padding:10px;
    background-color: white;
}
#mainCard{
    padding-top:65px;
}
.optionCards{
    -webkit-box-shadow: 3px 5px 11px -4px rgba(0,0,0,0.55);
    -moz-box-shadow: 3px 5px 11px -4px rgba(0,0,0,0.55);
     box-shadow: 3px 5px 11px -4px rgba(0,0,0,0.55);
}
#mainCanvas{
    border-radius: 1%;
    height: 45vw;
    width:100%;
    padding: 1px;
    background: white;
}

#animationContainer{
    background:green;
    padding-top: 65px;
    /* to compensate for space occupied by navbar */
    padding-right:22vw;
    padding-left:22vw;
}

@media screen and (min-width:768px){
#animationContainer{
    background:green;
    padding-top: 65px;
    /* to compensate for space occupied by navbar */
    padding-right:18vw;
    padding-left:18vw;
}
#mainCanvas{
    height: 28vw;
    width:56vw;
}
}
/*  */

#animationControls{
    padding-bottom:5px;
    padding-top:5px;
}

#question{
    margin-bottom:0px;
}