
body{
background-image: url(assets/background.svg);
margin:auto;
padding-top:10px;
padding-bottom:10px;
padding-left:10px;
padding-right:10px;
}

.sub-project-div{
height:fit-content;    
text-align:center;
}

.fill-btn{
width:100%;
}

.card{
    max-width: 700px;
    border: 0;
}

