body{
    background-color:goldenrod;
}


#mainCanvas{
    border-radius: 1%;
    height: auto;
    width:100%;
    padding: 1px;
    background: white;
    /* image-rendering: -moz-crisp-edges;     */
    /* image-rendering: -webkit-crisp-edges;  */
    /* image-rendering: pixelated; */
}

#animationContainer{
    background:blue;
    padding-top: 65px;
    /* to compensate for space occupied by navbar */
    padding-right:5vw;
    padding-left:5vw;
}

@media screen and (min-width:768px){
#animationContainer{
    background:black;
    padding-top: 65px;
    /* to compensate for space occupied by navbar */
    padding-right:10vw;
    padding-left:10vw;
}
}


#animationControls{
    padding-bottom:5px;
    padding-top:5px;
}

.navbarLogo{
    width:32px;
    height:32px;
}

/* Full screen settings begin*/
#animationContainer.fullscreen{
   padding: 0 0 0 0;
}
#mainCanvas.fullscreen{
    width: 100vw; 
    height: 100vh; 
    position: relative; 
    padding: 0px;
}
#animationControls.fullscreen{
    position:absolute;
    bottom:10px;
    left:10px;
}
/* End of full screen settings */


