body{
    background-color:goldenrod;
}

.dark-background{
    background-color: #2f2f2f;
    color: #f2f2f2;
}

#mainCanvas{
    border-radius: 1%;
    height: 250px;
    width:100%;
    padding: 1px;
    background: white;
}

#animationContainer{
    background:black;
    padding-top: 65px;
    /* to compensate for space occupied by navbar */
    padding-right:5vw;
    padding-left:5vw;
}

@media screen and (min-width:768px){
#animationContainer{
    background:black;
    padding-top: 65px;
    /* to compensate for space occupied by navbar */
    padding-right:10vw;
    padding-left:10vw;
}
#mainCanvas{
    height: 500px;
    width:100%;
}
}


#animationControls{
    padding-bottom:5px;
    padding-top:5px;
}

.navbarLogo{
    width:32px;
    height:32px;
}

/* Full screen settings begin*/
#animationContainer.fullscreen{
   padding: 0 0 0 0;
}
#mainCanvas.fullscreen{
    width: 100vw; 
    height: 100vh; 
    position: relative; 
    padding: 0px;
}
#animationControls.fullscreen{
    position:absolute;
    bottom:10px;
    left:10px;
}
/* End of full screen settings */


.footerColumn{
    padding: 5px;
    padding-top:25px;
    width:75%;
    border-bottom: 1px solid #4f4f4f;
}

.footerColumn a{
    color:grey;
}

.social{
    padding-top:10px;
}
.social a{
    color:white;
    font-size: 24px;
}

footer .container{
    max-width:80%;
} 